<div id="right">
      
     <div class="panel1 jian just">
        <ul class="ull">
            <li class="mainitem mainitem_T iee"><img class="icon1" src="images/moleskine_pure.png"><span class="title1">期刊信息</span></li>
			<img class="magazine" src="images/img-xb.jpg">
            <li><span class="mainfo2" style="*maigin-top:10px;">1959年创刊，双月刊</span></li>
            <li><span class="mainfo2">主管：中华人民共和国教育部</span></li>
            <li><span class="mainfo2">主办：电子科技大学</span></li>
            <li><span class="mainfo2">主编：田江</span></li>
            <li><span class="mainfo2">编辑出版：电子科技大学学报编辑部</span></li>
            <li><span class="mainfo2">出版物号：CN51-1569/C</span></li>
            <li><span class="mainfo2 mr8">ISSN 1008-8105</span></li>
            <li><span class="mainfo2">国内发行代号：62-113</span></li>
            <li><span class="mainfo2">国外发行代号：4847Q</span></li>
            <li><span class="mainfo2">通信地址：四川省成都市建设北路二</span></li>
            <li><span class="mainfo2 mr8">段4号</span></li>
            <li><span class="mainfo2">邮编：610054</span></li>
            <li><span class="mainfo2">电话号码：(028)83201443</span></li>
            <li><span class="mainfo2">Email：xbshkb@uestc.edu.cn</span></li>
             </ul>       
    </div>
     <div class="panel1 jian">
        <ul class="ull">
            <li class="mainitem mainitem_T"><img class="icon1" src="images/globe_yellow.png"><span class="title1">友情链接</span></li>
            <li class="mainfo2"><a href="http://www.moe.edu.cn/">教育部</a></li>
            <li class="mainfo2"><a href="http://www.uestc.edu.cn">电子科技大学</a></li>
            <li class="mainfo2"><a href="http://www.gapp.gov.cn/">国家新闻出版广电总局</a></li>
            <li class="mainfo2"><a href="http://www.scppa.gov.cn/">四川省新闻出版广电局</a></li>
            <li class="mainfo2"><a href="http://www.engineeringvillage.com">Ei village</a></li>
            <li class="mainfo2"><a href="http://www.cnki.net/">中国知识资源总库(CNKI)</a></li>             
            <li class="mainfo2"><a href="http://www.wanfangdata.com.cn/">万方数据库</a></li>             

        </ul>    
    </div>
    	<!--
<div id="r_header">
		<h2><a href="http://www.xb.uestc.edu.cn/nature/index.php?p=category&category_id=2">新闻动态</a></h2>
			<ul>
			<marquee align="bottom" direction="down" onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll" scrollamount=2>
            	<!-- BEGIN news -->
            		<li><a href="index.php?p=newsitem&item_id={item_id}" title="{name}">{show_description_text:name,15}</a></li>
            	<!-- END -->
			</marquee> 
			</ul>
		<li class="link_s"><a href="index.php?p=category&category_id=2">more</a></li>
        </div> 
	<hr /> 
        <div id="r_bottom">
		<h2>友情链接</h2>
        	<ul>
            	<li class="link_a"><a href="http://www.moe.edu.cn/">教育部</a></li>
                <li class="link_a"><a href="http://www.uestc.edu.cn">电子科技大学</a></li>
                <li class="link_a"><a href="http://www.ei.org.cn/">Ei中国</a></li>
                <li class="link_a"><a href="http://www.lib.uestc.edu.cn/ERDataBaseIntro55.aspx">中国期刊全文数据库</a></li>
                <li class="link_a"><a href="http://www.wanfangdata.com.cn/">万方数据库</a></li>
                <li class="link_a"><a href="http://www.intl-jest.com/">中国电子学刊</a></li>             
            </ul>
        </div> -->
    </div>
<script type="text/javascript">
    jQuery.fn.limit = function () {
        var self = $("[limit]");
        self.each(function () {
            var objString = $(this).text();
            var objLength = $(this).text().length;
            var num = $(this).attr("limit");
            if (objLength > num) {
                $(this).attr("title", objString);
                objString = $(this).text(objString.substring(0, num) + "...");
            }
		/*	else {
			     $(this).removeAttr("limit");
				 }*/
        })
    }
    $(function () {
        $("[limit]").limit();
    })
</script>