body{
    font-family: "宋体",Verdana, Arial, Helvetica, sans-serif;
	background:#e8e6e6;
}
ul,li{
    text-decoration: none;
    list-style: none;
}

.mainitem {

    width:200px;
    height: 35px;
    font-size: 18px;
     
    letter-spacing: 4px;
   background: url('../images/item.png') repeat-x;
    text-align: ceter;
    border-radius: 4px;
    margin-bottom: 10px;

    margin-left: 5px;
    margin-top: 4px;
}
.title1{
    color:#fff;
    position: relative;
    left: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 6px;
}
.title{
    font-size: 18px;
    letter-spacing: 3px;
}
.icon1 {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    position: relative;
    top: 3px;
}

.panel1 {
    width: 210px;
    height: auto;
    border-radius: 4px;
    float: left;
    margin-top: 6px;
        border: 1px solid;
    border-color:#ccc;
}

.ull {
}

.item {
    width: 160px;
    padding: 2px 25px 0px 10px;
    color: #707070;
    position: relative;
    margin: 8px 0px 8px 7px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    border: 1px solid #B5B5B5;
    height: 34px;
}
li.item:hover{
    left: 4px;
}
.item a{
    color: #707070;
    font-size: 14px;
    text-align: right;
}

.ko {
    letter-spacing: 0px;
}
.btnw{
    width: 98px;
}

.lef {
    margin-left: -20px;
}

.news {
    height: auto;
    font-size: 14px;
    *font-size:12px;
    *margin-left:-16px;
}

.newspan {
    width: 200px;
    *width:200px;
    height: auto;
    margin-left: 12px;
	*margin-left:7px;
	*letter-spacing:1px;
}

#newsrock {
    *margin-top: 15px;
    height: auto;
    overflow: hidden;
}
.news a{
    color: #000!important;
    text-decoration: none;
    font-size: 13px;
    *font-size:12px;
}
.news a:hover{
    color: red!important;
    
}
.ull a{
    text-decoration: none;
}
.icon2 {
    width: 28px;
    height: 28px;
    position: relative;
    top: 4px;
    left: -6px;
}

.write {
    background: url('images/edit_notes.png');
}

.jian {
    margin-top: 20px;
}
.icon3 {
    height: 24px;
    float: left;
    margin-left: 30px;

    margin-top: 3px;
}
.sea {
    width: 528px;
    height: 33px;
    margin-left: -4px;
    background: #eee;
    position: relative;
    z-index: 1000;
    margin-top: 15px;
    border: 1px solid #9E9E9E;
}
#search {
    width: 225px;
    height: 18px;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
}

.spans {
    float: left;
    font-size: 13px;
    line-height: 20px;
    margin-top: 6px;
}

.siz {
    width: 20px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.Go {
    margin-left: -8px;
    position:relative;
    top:-2px;
}

.mainfo2 {
    font-size: 12px;
    line-height: 20px;
    margin-left: 12px;
    color: #000!important;
}
.mainUll a{
       font-size: 15px;
    font-weight: bold; 
}
.ull a{
    color: #777; 

}

.bar {
    width: 450px;
    height: 26px;
    border-left: 6px solid #6582C4;
    margin-top: 45px;
    float: left;
}

.Btitle {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 5px;
}

.mainco {
    width: 552px;
    height: auto;
    float: left;
}

.magazine {
    width: 130px;
    height: 180px;
    margin-left: 50px;
    margin-top: 10px;
    float: left;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px #aaa;
}

.mainfo {
    float: left;
    margin-left: 20px;
}

.infot {
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 7px;
}

.infoau {
        font-size: 12px;
        margin-top: -6px;
        margin-left: 30px;
        line-height: 15px;
}

.mar {
    margin-left:0px;
}
.pre a{
    color: #000;
}
.aas{
    width: 110px;
    position: relative;
    float: left;
    margin-left: 10px;
}
.aas1{
    width: 100px;
    position: relative;
    float: left;
    margin-left: 30px;
}
.aas:hover{
    top:2px;
    right:-2px;
    
}
.aas1:hover{
    top:2px;
    left: -2px;
}
.infodate{
    font-size: 14px;
    line-height: 20px;
    margin-top: 7px;
    font-weight: bold;
    width: 200px;
    float: left;
    margin-left: -22px;
}

.pre {
    width: 450px;
    height: auto;
    float: left;
    margin-top: 0px;
}
.icon4 {
    width: 24px;
    height: 24px;
    position: relative;
    top: 7px;
}

.catatab {
    width: 520px;
    height: auto;
    float: left;
    margin-left: 25px;
}
.catatab ul{
    list-style: none;
}

.tab_active {
     width: 80px;
    height: 30px;
    border: 1px solid ;
    border-color:  #DDD  #DDD transparent;
    border-radius: 5px 5px 0px 0px;
    float:left;
}

.tabb {
    margin-left: -40px;
}

.tab_no {
    float: left;
    width: 458px;
    height: 30px;
    border-bottom:1px solid  #DDD;
}

.midcontent {
    width: 520px;
    height: auto;
    float: left;
    margin-left: -25px;
}

.catagroy {
    
    width: 450px;
    height: 30px;
    margin-top: -5px;
    border-left: 5px solid  #6582C4;
}

.catah1 {
    font-size: 16px;
    line-height: 30px;
    margin-left: 5px;
}

.data2{
    list-style: none;
    margin-top: 2px;
    margin-left: -10px;
    clear: both;
}
.data2 a{
    color:#003366;
    font-size: 12px;
}
.data2 a:hover{
    color:red; 
}

.data3 {
  /*  background:url(../images/circle_point.png) no-repeat left center;*/
    margin-left: 28px;
     overflow: hidden;
    width: 470px;
}

.mid {
    width: 452px;
    height: auto;
    float: left;
    margin-left: 400px;
}
.author {
    position: relative;
    font-size: 12px;
    display: block;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: -4px;
    color: #003366!important;
}

.data_a {
    color:#f08b17;
}

.data_sp a{
    color: #003366;
    text-decoration: underline;
    font-size: 12px;
}

.mag {
    margin-left: 10px;
}



.Vol {
    font-size: 12px;
    margin-left: 5px;
    letter-spacing: 1px;
    float: left;
    color:#003366!important;
}

.data_sp {
    font-size: 12px;
    margin-left: 15px;
    float:left;
    line-height: 24px;
}
.data_sp a:hover{
    color: red;
    position: relative;
    top:2px;
    left: 2px;
}

.red {
    color: red;
}

.showabstract {
    float: left;
    display: block;
    margin-left: 10px;
}
.showabstract a{
      color:#003366;
    font-size: 12px;
}
.showabstract a:hover{
      color:red;
}
.voldata {
    margin-top: -6px;
    float: left;
    margin-left: 10px;
}

.abstract {
    font-size: 12px;
    text-indent:25px;
    width: 400px;
    overflow:hidden;
    line-height: 22px;
    color: #000!important;
    margin-left: 15px;
}
.mkk{
    margin-top: -14px;
    *margin-top:-5px;
    margin-left: 227px;
}
.search_tr {
    width: 450px;
    height: auto;
    float: left;
}

.search_name {
    width: 120px;
    float: left;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;

}



.search_form {
    width: 665px;
    margin-left:243px;
    height: auto;
    margin-top: 10px;
}

.search_input {
    width: 100px;
    height: 20px;
    border: 1px solid #2c87e2;
    border-radius: 2px;
    float: left;
    margin-left:10px;
}

.search_eve {
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px; 
}


.search_name_1 {
    margin-left: 10px;
    float: left;
}

.wid_1 {
    width: 180px;
}

.border_1 {
    border-bottom: 1px solid #DDD;
}

.height_1 {
    height: 40px;
}

.name_back {
    width: 120px;
    height: 220px;
    float: left;
    background: #ddd;
}



.search_ava {
    width: 250px;
    height: auto;
    display: block;
}

.search_a {
    width: 500px;
    height: auto;
    float: left;
    margin-left: 20px;
}

.item_2 .title{
    margin-left: 63px;
}







.marg {
    margin-top:80px;
    text-indent: 20px;
    
}

.border_2 {
    float: left;
    width: 100%;
    height: 10px;
    border-bottom:1px solid #ddd; 
}

.wid_2 {
    width: 30px;
    margin-top: 2px;
}

.wid_3 {
    width: 40px;
    margin-left: 10px;
}

.search_input1 {
     width: 20px;
    height: 20px;
    border: 1px solid #2c87e2;
    border-radius: 2px;
    float: left;
}

.mlef {
    margin-left: -30px;
}
.search_input4 {
    width: 150px;
    height: 20px;
    border: 1px solid #2c87e2;
    border-radius: 2px;
    float: left;
    margin-left:10px;
    
}

.bstring {
    width: 100%;
    height: 1px;
    background: #eee;
}

.cc {
    font-size: 14px!important;
}
#leftsead{width:131px;height:143px;position:fixed;top:258px;right:0px;}
*html #leftsead{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#leftsead li{width:131px;height:60px;}
#leftsead li img{float:right;}
#leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:131px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
#leftsead li a.youhui .hides{display:none;position:absolute;right:190px;top:30px;}
#leftsead li a.youhui .hides1{display:none;position:absolute;right:48px;top:-20px;}
.mleft {
    margin-left: 6px;
}
.iee {
    *margin-top: 220px;
}


.catename {
    margin-left: 10px;
    font-weight: bold;
}

.publish_time {
    float: right;
    color: #000;
    padding-right: 10px;
}

.data4 {
    width: 600px!important;
}

.linew {
    list-style-image: url(../images/circle_point.png);
}

.mainitem_T {
    width: 200px!important;
}

#dateInfo {
    width: auto;
    height: auto;
    float: left;
    margin-top: 8px;
    left: 40px;
    position: relative
}

.icon5 {
    width: 14px;
    height: 14px;
    position: relative;
    top:2px;
}

.tit {
    margin-left: 47px;
    position: relative;
    top: 3px;
}

.title3 {
    position: relative;
    width: 160px;
    height: 35px;
    float: left;
    margin-left: 40px;
    top:2px;
}

.title3a {
    position: relative;
    bottom: 5px;
}

.hre a:hover{
    color: red!important;
}

.shadow {
    box-shadow: 1px 1px 1px #aaa;
}

.item4 {
    margin-left: 70px;
}
.item4 a{
    font-size: 14px;
    color: black;
}

.hre a{
    color: #0D308C!important;
}

.redspot {
    color: red;
    position: relative;
    top: -5px;
}

.catah1_a {
    color: #000;
}

.item_2 {
   width: 160px;
padding: 2px 25px 0px 10px;
color: #707070;
position: relative;
margin-left: 5px;
border-bottom: 1px dotted;
bottom: 4px;
}
.item_2 a{
    font-size: 14px;
    color:#0D308C;
}

.mr8 {
    margin-left: 72px;
}

.just {
    *margin-top:0;
}
.hactive{
    	background: url('../images/item.png') repeat-x;
	color: #fff!important;
	border-radius: 3px;
}
.morein{
margin-left:150px;*margin-left:110px;*margin-top:-4px;font-size:14px;}
.lz_guestbook{
     margin-top: 25px;   
}